body{
  /* margin: 0;
  padding: 0; */
  background-color: beige;
}

.header{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 5px;
  align-items: center; 
}

.logo{
  margin: 10px;
  width: 15vb;
  height: 15vh;
  border-radius: 50%;
}

.nav-items ul {
  display: flex;
  padding-right: 15px;
  
  
}

.nav-items ul li{
  padding: 8px;
  margin-left: 15px;
  list-style: none;
  cursor: pointer;
  font-size: larger;
}

.res-card {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  background-color: #f0f0f0;
  border-radius: 5px;

  margin-bottom: 20px;
   margin-left: 20px;
}

.res-card:hover {
  box-shadow: 5px 5px 5px 5px gray;
  cursor: pointer;
}

.res-logo{
  width: 280px;
  height: 200px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 10px;
}

.search {
  margin: 15px;
}

.res-info {
  padding-left: 15px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-btn{
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
  font-weight: bolder;
  background-color: azure;
  cursor: pointer;
  transition: 0.3s ease;
}

.filter-btn:hover{
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.Shimmer-card {
  margin-top: 50px;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  background-color: #f0f0f0;
  border-radius: 5px;

  margin-bottom: 20px;
   margin-left: 20px;
}

.Shimmer-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Whats-on-your-mind {
  padding: 20px;
}

.Whats-on-your-mind h2{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.mind-container{
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.mind-container::-webkit-scrollbar{
  display: none;
}

.mind-card{
   min-width: 150px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.mind-card:hover {
  transform: scale(1.05);
}

.mind-card-img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 25px;
}

/* .mind-card-text{
  margin-top: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: #444;
} */
.top-rest-cont {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding: 20px 0;
  scroll-behavior: smooth;
  background-color: aliceblue;
  padding-left: 15px;
}

.top-rest-cont::-webkit-scrollbar {
  display: none;
}

.top-rest-cont {
  scrollbar-width: none;
}

.Top-rest-cont {
  min-width: 260px;  
  flex-shrink: 0;   
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding-left: 15px;
}

.Top-rest-cont:hover {
  transform: scale(0.95);
}

.top-rest-img-cont {
  width: 100%;
  height: 170px;
  overflow: hidden;
  border-radius: 16px;
}

.top-rest-img {
  width:100%;
  height: 100%;
  object-fit: cover;
}

.top-rest-info {
  padding: 12px;
}

.top-rest-info h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.top-rest-info h4,
.top-rest-info h5 {
  font-size: 14px;
  color: #555;
  margin: 3px 0;
}