body{
  /* margin: 0;
  padding: 0; */
  background-color: beige;
}

.header{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 5px;
  align-items: center; 
}

.logo{
  margin: 10px;
  width: 15vb;
  height: 15vh;
  border-radius: 50%;
}

.nav-items ul {
  display: flex;
  padding-right: 15px;
  
  
}

.nav-items ul li{
  padding: 8px;
  margin-left: 15px;
  list-style: none;
  cursor: pointer;
  font-size: larger;
}

.res-card {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  background-color: #f0f0f0;
  border-radius: 5px;

  margin-bottom: 20px;
   margin-left: 20px;
}

.res-card:hover {
  box-shadow: 5px 5px 5px 5px gray;
  cursor: pointer;
}

.res-logo{
  width: 280px;
  height: 200px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 10px;
}

.search {
  margin: 15px;
}

.res-info {
  padding-left: 15px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-btn{
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
  font-weight: bolder;
  background-color: azure;
  cursor: pointer;
  transition: 0.3s ease;
}

.filter-btn:hover{
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.Shimmer-card {
  margin-top: 50px;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  background-color: #f0f0f0;
  border-radius: 5px;

  margin-bottom: 20px;
   margin-left: 20px;
}

.Shimmer-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}